.screen {
    position:absolute;
    width:100%;
    height:100%;
    display:none;
}
#startScreen {
    display:block;
}
.character {
    width:40%;
    max-height:60%;
    margin-left:0 0 0 10%; 
}

#choosecharacter{
    width:100%;
}
#gameScreen .character{
    position:absolute;
    width:10%;
    height:10%;
    display:none;
}
#money{
    position:absolute;
    left:20%;
}
#choice{
    position:absolute;
    top:20%; 
}
a.bank{
  display:block;
  font-weight:bold;
  font-size:20px;
  margin:10px;
}

#end{
  position:absolute;
  bottom:10px;
}